h2.title { font-size: 36px; line-height: 0.82; text-align: center; color: #3b1f9b; font-family: 'HelveticaNeueLTStd', sans-serif; }
.relative { position: relative; }
.ourhistory-timeline { padding-top: 100px; overflow: hidden; padding-bottom: 100px; }
.ourhistory-timeline .op-stripes { transform: scale(1.8); top: 40%; z-index: -1; left: 20%; }
.timeline { margin: 50px 0; position: static !important; }
.timeline-nodes { padding-bottom: 70px; position: relative; color: #686660; overflow: hidden; }
.timeline-nodes:nth-child(odd) { flex-direction: row-reverse; }
.timeline h3, .timeline p { padding: 15px 0px 0px; margin-bottom: 0px; }
.timeline h3 { font-weight: lighter; background: var(--blue); }
.timeline p { font-family: 'HelveticaNeueLTStd-m', sans-serif; font-size: 18px; line-height: 1.33; }
.timeline .active p { color: #fff; }
.timeline time { font-size: 40px; line-height: 1.13; text-align: right; color: #bab2a5; font-family: 'HelveticaNeueLTStd', sans-serif; }
.active .timeline-content { background-color: #6150b0; }
.timeline-content { position: relative; border-radius: 10px; box-shadow: 0 15px 35px 0 rgba(59, 31, 155, 0.16); padding: 20px !important; background-color: #fff; }
.timeline-content .img { border-radius: 5px; background-color: #3b1f9b; width: 100%; background-image: url(../images/study1.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 200px; }
.timeline-nodes:nth-child(even) .timeline-date { text-align: left; padding-top: 11px !important; }
.timeline-nodes:nth-child(odd) .timeline-date { text-align: right; padding-top: 11px !important; }
.timeline-nodes:nth-child(even) .timeline-content span { content: ""; position: absolute; top: 15px; left: 100%; width: 0; border-left: 20px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
.timeline-nodes:nth-child(odd) .timeline-content { margin-left: auto; }
.timeline-nodes:nth-child(even) .timeline-content { margin-right: auto; }
.timeline-nodes:nth-child(odd) .timeline-content span { content: ""; position: absolute; top: 15px; right: 100%; width: 0; border-right: 20px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
.active.timeline-nodes:nth-child(odd) .timeline-content::after { border-right: 20px solid #6150b0; }
.active.timeline-nodes:nth-child(even) .timeline-content::after { border-left: 20px solid #6150b0; }
.timeline-nodes:last-child .timeline-content::before, .timeline-nodes:first-child .timeline-content::before { height: calc(100% + 100px); }
.timeline-nodes:first-child .timeline-content::before { top: 21px; }
.timeline-nodes:last-child .timeline-content::before { top: 0px; height: 20px; }
.timeline-image { position: initial; z-index: 100; max-width: 90px; padding: 0px !important; }
.timeline-image { content: ""; width: 30px; height: 30px; border-radius: 50%; display: block; position: absolute; top: 28px !important; left: 50%; transform: translate(-50%, -50%); background-color: #d8d2ea; z-index: 11111; }
.active .timeline-image::before { background-color: #5f30d5; }
.timeline-image img { position: relative; z-index: 100; }
.line { position: absolute !important; content: ''; top: 0px !important; right: 0 !important; width: calc(50% + 2px); border-right: 4px solid #5f30d5; height: 100%; left: 0 !important; bottom: auto !important; margin: 0 !important; z-index: 111; transition: all 0.2s linear; }
.line-bg { content: ""; display: block; position: absolute; top: 20px; bottom: 0; width: calc(50% + 2px); border-right: 4px solid #d8d2ea; z-index: 0; background-image: none; }
.relative .scrollmagic-pin-spacer:first-child { min-height: 100% !important; height: auto !important; padding: 0px !important; z-index: 1111; }
.relative .scrollmagic-pin-spacer:nth-child(2) { margin: 0 !important; width: 100% !important; top: 15px !important; }
@media (max-width:1599px) {
  .ourhistory-timeline .op-stripes { transform: scale(1.5); left: 0%; }
  .timeline-nodes:first-child .timeline-image::after { top: 23px; }
  .timeline-nodes:nth-child(even) .timeline-content::before { right: -98px; }
  .timeline-nodes:nth-child(odd) .timeline-content::before { left: -92px; }
}
@media (max-width:1199px) {
  .ourhistory .comment-section h2 { font-size: 35px }
  .timeline-nodes:nth-child(even) .timeline-content::before { right: -83px; }
  .timeline-nodes:nth-child(odd) .timeline-content::before { left: -77px; }
}
@media (max-width:991px) {
  .timeline-image { flex: 0%; }
  .timeline-nodes:nth-child(even) .timeline-content::before { right: -63px; }
  .timeline-nodes:nth-child(odd) .timeline-content::before { left: -57px; }
}
@media (max-width:767px) {
  .container { max-width: 100% !important; }
  .timeline-nodes:nth-child(even) h3, .timeline-nodes:nth-child(even) p { text-align: left }
  .timeline-nodes:nth-child(odd) { flex-direction: row; }
  .timeline h3 { font-size: 1.7rem; }
  .timeline p { font-size: 14px; }
  .timeline-nodes:nth-child(odd) .timeline-date { text-align: left; padding-bottom: 10px !important; }
  .about-page .timeline-content, .about-page .timeline-date { margin-left: auto; }
  .timeline-image::before { top: 85px !important; left: 35px; }
  .timeline-image::after { left: 35px; top: calc(-50% - -100px); }
  .timeline-nodes:first-child .timeline-image::after { top: 97px; }
  .timeline-nodes:last-child .timeline-image::after { top: calc(-50% - -97px); }
  .timeline time { font-size: 35px; }
  .timeline-nodes { padding-bottom: 40px; }
  .line { width: calc(10% - 10px); top: 60px !important; }
  .line-bg { width: calc(10% - 10px); top: 70px !important; }
  .timeline-nodes:nth-child(even) .timeline-content { margin-right: inherit; }
  .timeline-nodes:nth-child(even) .timeline-content::before { right: auto; left: -50px; }
  .timeline-nodes:nth-child(odd) .timeline-content::before { right: auto; left: -50px; }
  .timeline-image { left: auto; transform: none; right: 89.5%; top: 70px !important; }
  .timeline-nodes:nth-child(even) .timeline-content span { right: 100%; left: auto; transform: rotate(180deg); }
}
@media (max-width:575px) {
  .timeline::before { content: ""; display: block; position: absolute; top: 0; left: 3%; }
  .timeline-image::before { height: 20px; width: 20px; left: 5%; }
  .timeline-image::after { left: 5%; top: calc(-50% - -96px); }
  .timeline-nodes:first-child .timeline-image::after { top: 93px; }
  .timeline-nodes:last-child .timeline-image::after { top: calc(-50% - -93px); }
  .about-page .timeline { padding: 0px; }
}
@media (min-width:1200px) {
  .container { max-width: 1140px; }
}
@media (min-width:1600px) {
  .container { max-width: 1540px; }
}
